@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap:80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    cursor:pointer;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 15% 20% 15%;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
}

.apresentacao__conteudo__textos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);
}  

.apresentacao__conteudo__paragrafo__destaque {
    color : var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo__sobre-mim {
    color : var(--cor-terciaria);
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 50%;
}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.20rem;
    font-weight: 400;
}

.apresentacao__conteudo__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    padding: 10px 8px 10px 8px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    border: 2px solid var(--cor-terciaria);
    width: 60%;
}

.apresentacao__conteudo__links__navegacao:hover {
    cursor:pointer;
    background-color: var(--cor-hover);
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    padding: 16px;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

/* SOBRE MIM */

.curriculo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}

.curriculo__conteudo {
    display: flex;
    flex-direction: column;
}

.curriculo__foto {
    width: 30%;
    display: flex;
    align-items: start;
    margin: 0 10%;
    border: 2px outset var(--cor-terciaria);
    border-radius: 20px;
    padding: 4px;
}

.curriculo__conteudo__titulo{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    font-weight: 100;
}

.curriculo__conteudo__informacoes {
    font-size: 1.20rem;
    font-family: var(--fonte-secundaria);
    padding: 3% 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.curriculo__conteudo__subtitulos {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 200;
    padding: 5% 0;
}

.curriculo__conteudo__dados {
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
}

.curriculo__conteudo__dados:hover {
    font-size: 1.25rem;
}

.curriculo__conteudo__dados__cursos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.destaque-ricardo {
    color :var(--cor-terciaria);
    font-size: 1.25rem;
}

@media (max-width: 950px) {
    .apresentacao__conteudo {
        flex-direction: column;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        padding: 10%;
    }

    .apresentacao__conteudo__textos {
        width: auto;
    }

    .apresentacao__conteudo__links {
        width: auto;
    }

    .curriculo {
        padding: 10%;
    }

    .curriculo__conteudo {
        width: auto;
    }

    .curriculo__conteudo__dados:hover {
        font-size: 1.125rem;
    }

    .curriculo__foto {
        width: 30%;
        margin:auto;
    }
}

@media (max-width: 740px) {
    .curriculo__conteudo__informacoes {
        flex-direction: column-reverse;
        gap:15px;
    }

    .apresentacao__conteudo {
        padding-left: 2rem ;
        padding-right: 2rem ;
    }

    .apresentacao__conteudo__paragrafo {
        font-size: 1rem;
    }

    .apresentacao__conteudo__links__subtitulo {
        font-size: 1rem;
    }

    .apresentacao__conteudo__links__navegacao {
        font-size: 1rem;
        align-items: center;
        justify-content: center;
    }

    .apresentacao__conteudo__paragrafo__destaque__nome {
        font-size: 1.050rem;
        color : var(--cor-terciaria);
    }
}



h1 {
    display: none;
}

.apresentacao__conteudo__paragrafo__destaque__nome {
    font-size: 1.450rem;
    color : var(--cor-terciaria);
}